---
- name: copy file to remote host
  copy:
    src: files/{{ item }}
    dest: /tmp/
  with_items:
    - run.sh

- name: make sure execute pers bash file
  shell: chmod a+x /tmp/run.sh

- name: run script
  shell: "./run.sh"
  args:
    chdir: "/tmp"
  register: console

- debug: msg="{{ console.stdout }}"